<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="32" android:versionName="2.1.2" package="og.android.tether" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"></uses-permission>
    <permission android:protectionLevel="signature" android:name="og.android.tether.permission.C2D_MESSAGE"></permission>
    <uses-permission android:name="og.android.tether.permission.C2D_MESSAGE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <application android:name="og.android.tether.TetherApplication" android:icon="@drawable/icon_og_bev" android:label="@string/global_application_name">
        <activity android:name="og.android.tether.MainActivity"
                  android:label="@string/global_application_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait" 
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="og.android.tether.LogActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="og.android.tether.AccessControlActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="og.android.tether.SetupActivity" android:launchMode="singleTask"/>
        <receiver android:permission="com.google.android.c2dm.permission.SEND" android:name="com.google.android.c2dm.C2DMBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
                <category android:name="og.android.tether"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"></action>
                <category android:name="og.android.tether"></category>
            </intent-filter>
        </receiver>
               
        <!-- widget receiver -->
        <receiver android:name="og.android.tether.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
               <action android:name="og.android.tether.intent.TRAFFIC" />
            </intent-filter>
            <intent-filter>
               <action android:name="og.android.tether.intent.STATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info" />
        </receiver>
        
        <receiver android:name="og.android.tether.TetherServiceReceiver" >
            <intent-filter>
               <action android:name="og.android.tether.intent.MANAGE" />
            </intent-filter>
        </receiver>    
        
        <!-- tether service -->
        <service android:name="og.android.tether.TetherService">
        </service>
        
        <service android:name="og.android.tether.C2DMReceiver"></service>
    </application>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>   
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>    
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest> 
